.Header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.Header__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

.Header__body {
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
    justify-content: center;
}

.Header__main {
    display: flex;
    align-items: center;
    flex: 0 0 494/1240 * 100%;
}



@media (max-width: 991.99px) {
    .Header__main {
        flex: 1 1 auto;
    }
}

