.footer__body {
    display: flex;
    border-top: 1px solid #d8d8d8;
    padding-top: 80;
    padding-bottom: 60;
    gap: 80px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 80px;
}

.footer__main {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer__text {
    color: #616161;
    line-height: 150%;
    text-align: justify;
    padding-right: 3px;
}


.footer__logo {
    color: #f46717;
    font-size: 25px;
    font-weight: 700;
    line-height: 29 / 24 * 100%;
    text-decoration: none;
    font-style: oblique;
    padding-bottom: 5px;
}

.menu-footer__title {
    font-size: 25px;
    font-weight: 500;
    color: #f46717;
    cursor: default;
    border: none; 
    outline: none;
    background-color: #fff;
    max-height: 29px;
    font-style: oblique;
    padding-top: 3px;
    padding-left: 0;
}

.menu-footer__list {
    list-style-type: none;
    margin-left: 0; 
    padding-left: 0;
    line-height: 2.4;
}


.menu-footer__link {
    text-decoration: none;
    color: #616161;
    transition: color 0.3s ease 0s;
}

.menu-footer__link:hover {
    color: #f46717;
}

.contacts-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts-footer__item {
    display: inline-flex;
    text-align: left;
    color: #616161;
    line-height: 150%;
    transition: color 0.3s ease 0s;
    padding-left: 8px;
}

.contacts-footer__item:hover {
    color: #f46717;
}

._icon-location {
    content: "";
    display: block;
    background-image: url(../icons/location.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding-right: 6px;
}

._icon-phone {
    content: "";
    display: block;
    background-image: url(../icons/phone.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.footer_contact_phoneandlocation {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.contacts-footer__item:hover ._icon-location {
    background-image: url(../icons/location\ hover.svg);
}

.contacts-footer__item:hover ._icon-phone {
    background-image: url(../icons/phone\ hover.svg);
}



@media (max-width: 991.99px) {
    .footer__body {
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
    }


    .menu-footer__column {
        padding-left: 45px;
    }
}

@media (min-width: 991.99px) {
    .menu-footer {
        display: flex;
    }


}

@media (max-width: 749.99px) {
    .footer__body {
        flex-direction: column;
    }

    .menu-footer__title {
        padding-top: 10px;
    }

    .menu-footer__column {
        padding-left: 0px;
    }
}