.Header__menu {
    flex: 0 1 520px;
}

.Header__logo {
    color: #f46717;
    font-size: 35px;
    font-weight: 700;
    line-height: 29 / 24 * 100%;
    text-decoration: none;
    font-style: oblique;
    position: relative;
    z-index: 5;
    padding-left: 10px;
}

.menu_btn_burger {
    z-index: 5;
    content: "";
    display: block;
    background-image: url(../../icons/burger.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0px 0px 0px 5px;
    transition: all 0.3s ease 0s;
    font-size: 8px;
    display: none;
}

.Menu__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 3px;
    padding: 5px 0px;
    position: relative;
    padding-right: 15px;
}


.Menu__link {
    font-weight: 500;
    color: #3c454c;
    transition: color 0.3s ease 0s;
    text-decoration: none;
}

.menu_sub-list {
 
    background-color: #f46717;
    padding: 15px;
    flex: 1 1 100%;
    list-style-type: none;
    margin-left: 0;
    padding-left: 1;
    z-index: 2;
    display: none;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 10px);
    min-width: 200px;
    left: 0;
    position: absolute;
    top: 100%;
}




.icon_arrow {
    content: "";
    display: block;
    background-image: url(../../icons/arrow-down.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 5px;
    transition: all 0.3s ease 0s;
    font-size: 8px;
}


.menu__sub-link {
    color: #fff;
    line-height: 120%;
    text-decoration: none;
}

.menu_sub-item {
        margin: 0px 0px 3px 0px;
}




@media (min-width: 767.99px) {

    .Menu__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .menu__sub-link:hover {
        text-decoration: underline;
    }

    .Menu__item:hover .menu_sub-list {
        display: inline;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(0px, 0px);
    }
    
    .Menu__item:hover .icon_arrow {
        background-image: (url(../../icons/arrow-down\ hover.svg));
        transform: rotate(-180deg);
    }
    
    .Menu__item:hover .Menu__link {
        color: #f46717;
    }    

}

@media (max-width: 767.99px) {

    .menu_btn_burger {
        display: inline;
    }

    .menu_sub-list_active {
        display: inline;
    }

    .arrow_active {
        background-image: (url(../../icons/arrow-down\ hover.svg));
        transform: rotate(-180deg);
    }

    .Menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: 0;
        background-color: #fff;
        transition: left 0.3s ease 0s;
        padding: 70px 15px 30px 15px;
        left: -150%;
    }

    .active {
        left: 0;
    }

    .Menu__link {
        font-size: 24px;
        font-weight: 500;
    }

    .icon_arrow {
        width: 40px;
        height: 40px;
    }

    .Menu__list {
        padding: 0px;
        padding-top: 20px;
    }

    .menu_sub-list {
        position: relative;
        width: 100%;
    }


    .menu__sub-link {
        font-size: 18px;
    }

    .menu_sub-item {
        margin: 0px 0px 10px 0px;
    }
    
}