.search-form {
    max-width: 473px;
}


.seacrh-form__icon {
    position: relative;
    z-index: 5;
    font-size: 22px;
    height: 24px;
    width: 24px;
}


.search-form__item {
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 473px;
    height: 45px;

}

._icon-search {
    content: "";
    display: block;
    background-image: url(../../icons/search.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    
}

.search-form__btn {
    flex: 0 0 45px;
    height: 45px;
    font-size: 15px;

}

.search-form__input {
    height: 45px;
    width: 428px;
    padding: 0 0 0 0;
    border-width: 0px;
    font-size: 14px;
    color: #616161;
    outline:none;
    width: 100%;
    padding: 0 20px 0 0;

}

@media (min-width: 991.99px) {
    .search-form {
        flex: 1 1 auto;
    }
    .seacrh-form__icon{
        display: none;
    }
}

@media (max-width: 991.99px) {
    .search-form__item {
        box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
        position: absolute;
        width: 100%;
        left: 0;
        top: -100%;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
    }
}

