.wrapper {
    padding-top: 135px;
}

.main-slider__body {
    position: relative;
    z-index: 2;
}



.main-slider__content {
    width: 293px;
}

.main-slider__slider {
    flex: 1 1 auto;
    min-width: 0;
}

.contant-main {
    position: absolute;
    left: 20%;
    top: 100px;
    z-index: 5;
    padding: 60px;
    background: rgba(255, 255, 255, 0.9)
}

.content-main__tittle {
    font-size: 56;
    font-weight: 700;
    line-height: 120%;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.content-main_text {
    font-size: 20;
    color: #3c454c;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 48px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    min-height: 48px;
}

.content-main_button {
    min-height: 78px;
    font-size: 20px;
    background-color: #f46717;
    color: #fff;
    text-decoration: none;
}

.content-main_button:hover {
    background-color: #b95317;
}

@media (max-width: 449.99px) {
    .contant-main {
        padding: 10px;
    }

    .content-main__tittle {
        font-size: 24;
    }

    .content-main_text {
        font-size: 12;
    }

    .content-main_button {
        min-height: 45px;
    }
}

@media (max-width: 991.99px) {
    .main {
        padding-top: 125px;
    }

    .contant-main {
        display: none;
    }

   
}

@media (min-width: 991.99px) {
    .contant-main {
        display: flex;
        flex-direction: column;
    }
}

