.actions-header {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    gap: 24px;

}

.actions-header__item_favorites {
    color: #262f56;
    font-size: 24px;
}

.actions-header__item_favorites:hover {
    color: #f46717;
}

._icon-favorite {
    content: "";
    display: block;
    background-image: url(../../icons/favorite.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

._icon-favorite:hover {
    background-image: url(../../icons/favorite\ hover.svg);
}

.icon-cart_active {
    background-image: url(../../icons/cart\ hover.svg);
}

._icon-cart {
    content: "";
    display: block;
    background-image: url(../../icons/cart.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 0;
}

._icon-cart:hover {
    background-image: url(../../icons/cart\ hover.svg);
}


.cart-header__span {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: 5px;
    border-radius: 50%;
    background-color: #f46717;
    color: #fff;
    font-size: 12px;
}

.cart-header__list {
    color: #f46717;
    text-align: center;
    margin-bottom: 8px;
}

.actions-header__item {
    position: relative;
}

.cart__pricecontainer {
    
}

.cart-header__body {
    position: absolute;
    top: 30px;
    right: 0;
    width: 400px;
    min-height: 100px;
    background-color: #fff;
    -webkit-box-shadow: 32px 31px 69px 0px rgba(17, 16, 12, 0.3);
    -moz-box-shadow: 32px 31px 69px 0px rgba(17, 16, 12, 0.3);
    box-shadow: 32px 31px 69px 0px rgba(17, 16, 12, 0.3);
    border-radius: 5px;
}

@media (max-width: 991.99px) {
    .actions-header {
        gap: 12px;
    }
}

@media (max-width: 500.99px) {
    .cart-header__body {
        width: 320px;
    }
}