.products__container {
    padding: 0px 105px;
}

.products__tittle {
    font-size: 40;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    margin: 0px 0px 32px 0px;
}

.products__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 100px;
}

@media (max-width: 991.99px) {
    .products__container {
        padding: 0px 50px;
    }
}

@media (max-width: 700.99px) {
    .products__container {
        padding: 0px 25px;
    }
}