.Advantages {
    padding-top: 3%;
    padding-bottom: 3%;
}

.Advantages__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Advantages__item {
    display: flex;
    padding: 15px 10px;
}

.Advantages__promo {
    display: flex;
    flex-direction: column;
}

.Advantages__icon {
    height: 40px;
    width: 40px;
    padding-right: 20px;
    padding-top: 6px;
}

.Advantages__tittle {
    font-weight: 600px;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 2px;
}

.Advantages__text {
    padding-right: 4px;
    padding-left: 2px;
    line-height: 150%;
    color: #3c454c;
}