

.item-product {
    background-color: #f4f5f7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.item-products__image {
    padding: 0px 0px 301px/285px * 100% 0px;
}

.item-products__body {
    flex: 1 1 auto;
    padding: 16px 16px 30px 16px;
    display: flex;
    flex-direction: column;
}

.item-products__content {
    flex: 1 1 auto;
}

.item-products__tittle {
    font-size: 24px;
    line-height: 120%;
    margin: 0px 0px 8px/24px * 1em 0px;
}

.item-products__text {
    color: #3c454c;
    line-height: 150%;
    margin: 0px 0px 8px/24px * 1em 0px;
}

.item-products__prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 150%;
}

.item-products__price {
    font-size: 20;
    font-weight: 600;
}

.item-products__price__old {
    font-weight: normal;
    margin: 0px 0px 0px 16px;
    color: #b0b0b0;
}

@media (min-width: 991.99px) {
    
}

@media (max-width: 991.99px) {
    .products__container {
        padding: 0px 10px;
    }
}