.actions-products_button {
    background-color: white;
    border-style: solid;
    border-color: #f46717;
    color: #f46717;
    text-decoration: none;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 48px;
    width: 173px;
}

.actions-products_button_active {
    background-color: #f46717;
    border-style: solid;
    border-color: #f46717;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 48px;
    width: 173px;
}

.actions-products_button:hover {
    background-color: #f46717;
    color: #fff;
}

.products__item {
    max-width: 285px;
}

.item-products__content {
    height: 50px;
}