

.cart__container {
    padding: 10px;
}

.cart__title {
    margin-bottom: 10px;
}

.cart__img {
    height: 80px;
    width: 80px;
}

.cart__cart {
    display: flex;
}

.cart__priceandtitle {
    padding-left: 15px;
}