.swiper {
   height: 750px;
 }
 
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 @media (max-width: 991.99px) {
  .swiper {
    height: 550px;
  }
 }

 @media (max-width: 505.99px) {
  .swiper {
    height: 350px;
  }
 }

 @media (max-width: 360.99px) {
  .swiper {
    height: 300px;
  }
 }